@tailwind base;
@tailwind components;
@tailwind utilities;

/* Hide the number input arrows */

/* For Chrome, Safari, Edge, and Opera */
input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}


/* For Internet Explorer and older Edge versions (less common now) */
input[type="number"]::-ms-clear,
input[type="number"]::-ms-reveal {
    display: none;
    width: 0; /* Ensures no space is taken */
    height: 0; /* Ensures no space is taken */
}